.Input {
  padding: 8px;
  width: 100%;
}

.Label {
  font-weight: bold;
  display: block;
}

.InputEl {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  width: 100%;
  display: block;
}

.InputEl:focus {
  outline: none;
  background-color: #ccc;
}

.Invalid {
  border: 1px solid red;
  background-color: #fda49a;
}

.ValidationMessage {
  margin: 4px 0 0;
  font-size: .9rem;
  color: red;
  transition: transform .2s;
  animation: show 0.4s;
}

@keyframes show {
  0% {transform: scale(0,0)}
  50% {transform: scale(1.2,1.2)}
  100% {transform: scale(1,1)}
}
