.Input {
  padding: 8px;
  width: 100%;
}

.Label {
  font-weight: bold;
  display: block;
}

.InputEl {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  width: 100%;
  display: block;
}

.InputEl:focus {
  outline: none;
  background-color: #ccc;
}
